<!DOCTYPE html>
<html>
	<head>
		<title>Enter something</title>
	</head>
	<body>
		<p>Enter something
		</p>
		<form method="POST" enctype="multipart/form-data">
			<input type="text" name="name"></input>
			<input type="submit" />
		</form>
	</body>
</html>
