<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
</head>
<body>
	<form method="POST">
		<div>Name: <input type="text" name="name"></div>
		<div>Age: <input type="text" name="age"></div>
	</form>
{{uppercase .Title}}
{{ .Body }}
</body>
</html>
